:root {
    --primary-color: #f9f8fc;
    --secondary-color: #d9d4e7;
    --tertiary-color: #a786df;
    --bg-color: #fec7d7;
    --section-color: #fffffe;
    --dark-color: #0e172c;
    --card-color: #d9d4e7;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 { /* FIX ME!!! */
    width: 100%;
    text-align: center;
    font-size: 36px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 20px;
    text-decoration: none;
    color: var(--dark-color);
}

header nav ul li a:hover {
    text-decoration: underline;
    color: var(--tertiary-color);
}

footer {
    background-color: var(--dark-color);
    color: var(--secondary-color);
    text-align: center;
}

.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

.hero h3 {
    height: 100px;
    text-align: right;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.section-alt-bg {
    background-color: var(--section-color);
}

.project-cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: var(--card-color);
}

/* .main-card {
    flex: 0 0 100%;
}  */

.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}