:root {
    --primary-color: #f9f8fc;
    --secondary-color: #d9d4e7;
    --tertiary-color: #a786df;
    --bg-color: #fec7d7;
    --section-color: #fffffe;
    --dark-color: #0e172c;
}

/* universal selector, reset sizes before modifying */
* {
    margin: 0;
    padding: 0;
}

/* body style */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
}

/* header styles */
header {
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    font-weight: bold;
}

header h1 {
    width: 100%;
    text-align: center;
    font-size: 36px;
    padding-bottom: 10px;
    color: var(--tertiary-color);
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: underline;
    color: var(--dark-color);
}

header nav ul li a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

/* hero styles */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
}

.hero h3 {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    background-color: var(--tertiary-color);
    color: var(--section-color);
    padding: 10px 70px;
    position: absolute;
    top: 80%;
    right: 0;
}

/* general section styles */
.section {
    padding: 20px 0;
}

.section h2 {
    font-size: 32px;
    padding: 20px 0;
    width: 55%;
    margin: 0 auto 35px auto;
    text-align: center;
    font-weight: bold;
    border-bottom: 4px solid var(--primary-color);
}

/* about me styles */
.about-me {
    text-align: center;
    padding: 20px 0;
}

.about-me p {
    width: 90%;
    font-size: 18px;
    line-height: 1.7;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* my-work styles */
.my-work {
    background-color: var(--section-color);
}

.my-work h2 {
    border-bottom: 4px solid var(--tertiary-color);
}

/* card styles */
.project-cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.card {
    background-color: var(--secondary-color);
    margin: 7px;
    border: 5px solid var(--secondary-color);
    position: relative;
}

.card img {
    display: block;
    width: 100%;
    opacity: 0.7;
}

.card:hover img {
    opacity: 1.0;
    transition: .2s ease-in-out;
}

.img-desc {
    position: absolute;
    bottom: 10%;
    left: 0;
    background-color: var(--secondary-color);
    padding: 10px 20px;
}

.img-desc h3 {
    font-size: 20px;
}

.img-desc h4 {
    font-size: 16px;
}

/* contact-me styles */
.contact-me {
    background-color: var(--dark-color);
    color: var(--secondary-color);
}
.contact-me ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.contact-me ul li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--tertiary-color);
}

.contact-me ul li a:hover {
    text-decoration: underline;
}

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 575px) {
    .project-cards {
        flex-direction: column;
        /* margin: 0;
        width: auto; */
        flex-wrap: nowrap;
    }

    .together {
        display: flex;
        flex-wrap: nowrap;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 768px) {
    header {
        flex-wrap: nowrap;
        padding: 20px 0;
        align-items: center;
    }
    header h1 {
        text-align: left;
        padding: 10px 40px;
    }
    header nav ul {
        width: 500px;
    }
    
    .section {
        display: flex;
        width: 85%;
        margin: 0 auto;
        padding: 40px 0;
    }

    .section .header {
        width: 25%;
        margin: 0 auto;
    }

    .section h2 {
        font-size: 26px;
        text-align: right;
        border: none;
    }

    .section .content {
        width: 75%;
        margin: 0 auto;
        border-left: 4px solid var(--primary-color);
    }

    .about-me {
        flex-wrap: nowrap;
    }

    .about-me p {
        text-align: left;
    }
    
    .my-work {
        flex-wrap: wrap;
    }

    .my-work .content {
        border-color:var(--tertiary-color);
    }

    .contact-me {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .contact-me .header {
        border-right: 4px solid var(--primary-color);
    }

    .contact-me .section {
        align-items: center;
    }

    .contact-me .content {
        border: none;
    }

    .contact-me ul {
        display: flex;
        flex-wrap: nowrap;
    }

    .contact-me ul li a {
        padding: 10px 15px;
    }

}

/* MEDIA QUERY FOR LARGE DESKTOP SCREENS AND LARGER */
@media screen and (min-width: 980px) {
    header {
        padding: 10px 0;
    }
    .section h2 {
        font-size: 36px;
    }
}